* {
    box-sizing: border-box;
}

h1 {
    color: orange;
    background-color: purple;
    font-size: 40px;
    font-family:'Arial', Times, serif;
    text-align: center;
}

.mano-paragrafas {
    color: green;
    font-weight: bold;
    border: 3px solid black;
    padding: 20px;
}

p {
    background-color: silver;
}

.galerija{
    background-color: antiquewhite;
    padding: 50px;
}

div.galerija img {
    border: 5px solid gray;
    padding: 15px;
    margin-left: 60px;
    background-color: white;
    box-shadow: gray 5px 5px 10px;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    text-align: center;
}

.box img {
    border-radius: 50%;
    width: 70%;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

header img {
    width: 100%;
}

header h2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.version-two-header {
    margin-top: 100px;
    background-color: wheat;
    background-image: url('https:/picsum.photos/1920/1080');
    background-size: cover;
    background-position: center center;
}

.version-two-header h2 {
    text-align: center;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
}